@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title = SimpleBlog</title>
    <script src="https://use.fontawesome.com/614598b0a6.js"></script>
    @Styles.Render("~/styles")
</head>
<body>
    <div>
        <header>
            <h1>
                <a href="@Url.RouteUrl("home")">Simple Blog</a>
                <i class="fa fa-car"></i>
            </h1>
            @if (User.Identity.IsAuthenticated)
            {
                <p>
                    Welcome Back, @User.Identity.Name
                </p>
                <a href="@Url.RouteUrl("logout")">Logout</a>

                @*if (User.IsInRole("admin"))
                    {
                        <a href="@Url.Action("Index", "Posts", new(AreaReference="Admin"))">View posts in Admin</a>
                    }*@
            }
            else
            {
                <a href="@Url.RouteUrl("Login")"></a>
            }
            <a href="@Url.RouteUrl("login")">Login here</a>


        </header>
        @RenderBody()
        <footer>
            &copy; @DateTime.UtcNow.Year - JDB
        </footer>
        @Scripts.Render("~/scripts")
    </div>
</body>
</html>
